@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700')

$azul1: #008A98
$azul2: #8ABEC0
$texto: #858485


body
	font-family: 'Raleway', sans-serif
	font-size: 16px
	color: $texto
	position: relative

h1, h2, h3, h4
	font-family: 'Raleway', sans-serif
	color: $azul1
p
	color: $texto
a
	color: $azul1


@media only screen and (max-width: 768px)
	

@media only screen and (max-width: 568px)


@media only screen and (max-width: 414px)
